<html>

<head>
    <meta charset="UTF-8">
</head>
<div id="app">

    <input type="text" v-model="searchName">

    <ul>
        <li v-for="(dog,index) in filterPersons">
            {{dog.name}}---
        </li>
    </ul>
    <button @click="setOrderType(1)">升序</button>
    <button @click="setOrderType(2)">降序</button>

</div>

<script src="https://unpkg.com/vue"></script>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            searchName: '',
            persons: [
                {name:'k1',age:19},
                {name:'k213',age:20},
                {name:'k315',age:21},
                {name:'k413',age:17},
            ],
            orderType: 1, // 1-升序 2-降序
            averageRent: {
                london: 1650,
                paris: 1730,
                NYC: 3680
            },
        },
        computed: {
            filterPersons() {
                const {searchName, persons, orderType} = this;
                let finalValue;
                // 过滤
                finalValue = persons.filter(p => p.name.indexOf(searchName) !== -1);
                console.log(finalValue);
                if (orderType === 2) {
                    finalValue.sort(function (a, b) {
                        return a.age - b.age;
                    });
                } else if (orderType === 1) {
                    finalValue.sort(function (a, b) {
                        return b.age - a.age;
                    });
                }
                return finalValue;
            }
        },
        methods: {
            setOrderType(orderType) {
                this.orderType = orderType;
                console.log("搜索模式" + orderType)
            }
        }
    });

</script>

</html>